<div class="pf2e-chances-chatcard-container">
  {{#each chances}}
    <div class="pf2e-chances-chatcard-bar {{this.degree}}" style="width: {{this.value}}%;">{{this.value}}%{{this.label}}</div>
  {{/each}}
</div>