.pf2e-chances-chatcard-container {
  display: flex !important;
  padding: unset !important;
  margin: 8px 0 8px 0;
  height: 1.75em;
}

.pf2e-chances-chatcard-container > .pf2e-chances-chatcard-bar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  overflow-wrap: anywhere;
  border-bottom: 0.9em solid;
}

.pf2e-chances-chatcard-bar.critical-failure {
  color: darkred;
}

.pf2e-chances-chatcard-bar.failure {
  color: orangered;
}

.pf2e-chances-chatcard-bar.success {
  color: royalblue;
}

.pf2e-chances-chatcard-bar.critical-success {
  color: green;
}
